# Importing Library

In [16]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

# Importing Dataset

In [17]:
df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

# Calculating Average % Of Null Values in each Column

In [5]:
df.isna().mean()*100   # we have 19 % missing values in Age column

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

# train_test_split

In [18]:
X_train,X_test,y_train,y_test = train_test_split(df.drop('Survived',axis=1),
                                                df['Survived'],test_size=0.2)

# Filling Null values Of Age with KNN imputer

In [7]:
knn = KNNImputer(n_neighbors=3,weights='distance')   # we need calculations of with 3 neighbors
                                                     # there are two parameters of weight distance and uniform both have seperate formulas 
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

### Fitting LogisticRegression on data

In [11]:
 lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.7094972067039106

By Imputing Null values With KNN Imputer we have Accuracy Of 70%  Better than Mean And median

# Filling Null values Of Age with Simple imputer

In [19]:
# Comparision with Simple Imputer --> mean

si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

### Fitting LogisticRegression on data

In [20]:
lr = LogisticRegression()

lr.fit(X_train_trf2,y_train)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(y_test,y_pred2)

0.6815642458100558

By Filling Null values With Simple Imputer we Get the Accuracy Of  68%